body {
    background-color: #FFFFFF;
    overflow: hidden;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #474747;
    margin: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

#i {
    content: none;
    width: 200px;
    padding-top: 20px;
}

#IS {
    padding-left: 150px;
}

#ISS {
    padding-left: 177px;
}

#ISSS {
    padding-right: 50px;
}

#ISSSS {
    padding-left: 80px;
}

#b {
    border-radius: 30px;
    background-color: #ef262f;
}

#foto-container {
    width: 157%;
    top: 40%;
    left: 100%;
    transform: translateX(-61.5%);
    margin-left: 40%;
    max-height: 500vh;
}

#foto {
    width: 100%;
    height: auto;
}

.errar {
    color: red;
    padding: 0.5px;
    width: 30%;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    top: 18.9%;
    left: 45%;
    transform: translate(-100%, -50%);
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding: 5px;
    box-shadow: none;
    outline: none;
}

input[type="submit"] {
    background: linear-gradient(#ad131f, #FC646A);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

.container {
    width: 150vh;
    max-height: 500vh;
    background-color: white;
    margin-bottom: 4%;
    margin-top: 9%;
    position: relative;
    z-index: 1;} /* Asegura que el contenido esté encima de la imagen de fondo */
    /*border: 4px solid #FFDBC3; /* Establece un color de borde inicial 
    animation: borderAnimation 10s infinite linear;
}

@keyframes borderAnimation {
    0% {
        border-color: #FFDBC3;
    }
    25% {
        border-color:#FE7F4A;
        ;
    }
    50% {
        border-color: #FF583D;
    } 
    75%{
        border-color: #890138;
    }
}
*/